@font-face {
  font-family: Futura-PT;
  src: url(./fonts/Futura-PT.woff2),
      url(./fonts/Futura-PT.woff),
      url(./fonts/Oxygen-Bold.woff);
}
@font-face {
  font-family: PxGrotesk-Regular;
  src: url(./fonts/PxGrotesk-Regular.woff);
}
